{{#extend "layout-base"}}
    {{#content "title"}}AppReview - Get Started{{/content}}
    {{#content "body"}}  
            <section class="navigation">
                <header>
                    <div class="header-content">
                        <div class="logo">
                            <a href="/">
                                <img src="/assets/img/appreview-logo-inverted.png" alt="AppReview logo"></a>
                        </div>
                    </div>
                </header>
            </section>   
            <section class="sign-up section-padding text-center" id="download">
                <div class="container">
                    <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <h3>Choose your account type to get started</h3>
                            </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                                <a href="/onboard/reviewer" class="useroption">
                                    <h3>App Reviewer</h3>
                                    <i class="icon-pencil"></i>
                                </a>
                        </div>
                        <div class="col-md-6">
                                <a href="/onboard/creator" class="useroption">
                                    <h3>App Creator</h3>
                                    <i class="icon-mobile"></i>
                                </a>
                        </div>
                    </div>
                </div>
            </section>   
    {{/content}}
{{/extend}}