{{#extend "layout-base"}}
    {{#content "title"}}AppReview - Settings{{/content}}
    {{#content "body"}}  
            <section class="navigation">
                <header>
                    <div class="header-content">
                        <div class="logo">
                            <a href="/">
                                <img src="/assets/img/appreview-logo-inverted.png" alt="AppReview logo"></a>
                        </div>
                        <div class="header-nav">
                            <nav>
                                <ul class="primary-nav">
                                    <li><a href="/reviewer/dashboard" class="inverted">My Apps</a></li>
                                    <li><a href="/reviewer/payment/settings" class="inverted">Payment Settings</a></li>
                                    <li><a href="/reviewer/settings" class="inverted">Settings</a></li>
                                    <li><a href="/?signout=1" class="inverted">Sign Out</a></li>
                                </ul>
                                <ul class="member-actions">
                                </ul>
                            </nav>
                        </div>
                        <div class="navicon">
                            <a class="nav-toggle inverted" href="#"><span></span></a>
                        </div>
                    </div>
                </header>
            </section>   
            <section class="section-padding text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">   
                        </div>
                    </div>
                </div>
            </section>   
    {{/content}}
{{/extend}}