{{#extend "layout-base"}}
    {{#content "title"}}AppReview - Get Started{{/content}}
    {{#content "body"}}  
            <section class="navigation">
                <header>
                    <div class="header-content">
                        <div class="logo">
                            <a href="/">
                                <img src="/assets/img/appreview-logo-inverted.png" alt="AppReview logo"></a>
                        </div>
                        <div class="header-nav">
                            <nav>
                                <ul class="primary-nav">
                                    <li><a href="/reviewer/dashboard" class="inverted">Apps</a></li>
                                    <li><a href="/reviewer/apps/completed" class="inverted">Completed Apps</a></li>
                                    <li><a href="/reviewer/settings" class="inverted">Settings</a></li>
                                    <li><a href="/?signout=1" class="inverted">Sign Out</a></li>
                                </ul>
                                <ul class="member-actions">
                                </ul>
                            </nav>
                        </div>
                        <div class="navicon">
                            <a class="nav-toggle inverted" href="#"><span></span></a>
                        </div>
                    </div>
                </header>
            </section>   
            <section class="section-padding text-center">
                <div class="container" id="reviewinstructions">
                    
                    <div class="row section">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="reviewstep">1</div>
                                </div>
                                <div class="col-md-8">
                                    <p>Download the <strong>SnapChat</strong> to your iphone or ipad. If you would like to review using iTunes, navigate to the app page using the URL below and click on "View in iTunes".</p>
                                    <a target="_blank" href="https://itunes.apple.com/us/app/snapchat/id447188370?mt=8">https://itunes.apple.com/us/app/snapchat/id447188370?mt=8</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row section">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="reviewstep">2</div>
                                </div>
                                <div class="col-md-8">
                                    <p>Leave a review for the app using the apple id <strong>ddt7</strong>. Before submitting, copy your review to your clipboard</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row section">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="reviewstep">3</div>
                                </div>
                                <div class="col-md-8">
                                    <textarea class="form-control" placeholder="Copy and paste your review in this box"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row section">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="reviewstep">5</div>
                                </div>
                                <div class="col-md-8">
                                    <p>Please be sure that your review is copied correctly in the box above, as you will not be able to edit or change your review later.</p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row section">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="reviewstep">6</div>
                                </div>
                                <div class="col-md-8">
                                    <button class="btn-fill btn-block review-btn">Done</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section> 
    {{/content}}
{{/extend}}